/*

Color Scheme:
    Blue: #12B3D8
    Orange: #FF860F
    Green: #B3F90E
    Light Gray: #F5F5F5

Fonts:
    Headings:
        font-family: 'Roboto Slab', "Times New Roman", Times, Helvetica, serif;
    
    Paragraph:
        font-family: 'Open Sans', "Times New Roman", Times, Helvetica, serif;

*/

/* ====================================
        STARTERS
======================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================================
        TYPOGRAPHY
======================================= */

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", "Times New Roman", Times, Helvetica, serif;
}

h1 {
  font-size: 3rem;
  color: white;
  line-height: 3.2rem;
  padding: 1rem 0;
  font-weight: 700;
}

h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.4rem;
}

p,
li,
label,
input,
select,
textarea {
  font-size: 1.4rem;
}

p {
  line-height: 1.4;
}

.sub-item-light {
  color: darkgray;
}

.text-highlight {
  color: #12b3d8;
  font-family: "Roboto Slab", "Times New Roman", Times, Helvetica, serif;
  font-weight: bold;
}

.separator h2 {
  color: #12b3d8;
}

/* ====================================
        LAYOUT
======================================= */

/* --- GENERAL --- */

.limit-content {
  padding: 2rem 2.3rem;
  width: 100%;
  margin: 0 auto;
}

.limit-content-img {
  width: 100%;
}

#work-experience h2,
#education h2,
.instagram-button {
  display: none;
}

.separator {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
}

main .separator:first-of-type,
.separator-edu {
  height: 10rem;
  color: gray;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.separator-home {
  background-color: #212121;
  background-image: url(../img/work.jpg);
}

.separator-edu {
  background-color: #212121;
  background-image: url(../img/education.jpg);
}

.separator-contact {
  margin-top: 4rem;
  background-color: #212121;
  background-image: url(../img/contact.jpg);
}

/* --- NAVIGATION --- */

.menu-hamburguer-bar {
  background-color: #12b3d8;
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  background-color: #b3f90e;
  position: fixed;
  width: 100%;
  height: 22rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  z-index: 99;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  list-style: none;
  height: 100%;
}

.close-nav,
.open-nav {
  border: 0;
  background: 0;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
}

.close-nav {
  font-size: 3rem;
  color: #12b3d8;
  padding: 1rem 2rem;
  transform: translateX(0);
  transition: transform 250ms;
}

.open-nav {
  font-size: 2.5rem;
  color: #b3f90e;
  padding: 0 2rem;
  margin-left: auto;
}

.navigation-open {
  transform: translateX(-100%);
}

/* --- BUTTONS --- */

.button {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-button {
  color: #12b3d8;
  font-size: 1.2rem;
}

.nav-button:hover {
  text-decoration: underline;
}

.get-in-touch-button {
  background-color: white;
  color: #12b3d8;
  border: #12b3d8 1px solid;
  margin: 1rem;
  font-size: 0.8rem;
}

.get-in-touch-button:hover {
  background-color: #ff860f;
  color: white;
}

.btn-top {
  background-color: #b3f90e;
  display: inline-block;
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}

.btn-top i {
  padding: 0.5rem;
  color: white;
}

/* --- HEADER --- */

header section {
  background-color: #12b3d8;
  background: linear-gradient(
    0deg,
    rgba(18, 200, 200, 1) 0%,
    rgba(18, 179, 216, 1) 100%
  );
  padding: 1rem 0;
}

.header-about {
  height: 37rem;
}

header section img {
  border-radius: 50%;
  width: 14rem;
  border: 0.3rem solid #6eb8d4;
  display: block;
  margin: 3.5rem auto 0 auto;
}

/* --- WORK EXPERIENCE --- */

hr {
  border-top: 1px dashed #f5f5f5;
  margin-bottom: 2rem;
}

.work-item ul li,
.eager-to-learn-item ul li {
  margin-left: 2rem;
  list-style-type: circle;
}

#work-experience ul:nth-child(2) li {
  list-style-type: none;
}
#work-experience ul:nth-child(2) li i {
  margin-right: 0.7rem;
}

.work-first-ul-items {
  display: inline;
}

/* --- EDUCATION + INTERESTS --- */

#education,
#interests {
  background-color: #f5f5f5;
}

.work-item,
.education-item,
.eager-to-learn-item,
.interests-item {
  margin: 3rem 0;
}

.interests-item p {
  line-height: 1.6;
  font-size: 0.9rem;
  width: 70%;
}

/* --- REFERENCES --- */

.references {
  background-color: #12b3d8;
  color: white;
}

blockquote::before,
blockquote::after {
  color: white;
  content: open-quote;
  font-size: 3rem;
  line-height: 0.1rem;
  margin-right: 0;
  vertical-align: -1rem;
}

blockquote::after {
  content: close-quote;
  vertical-align: -1rem;
}

.references h3 {
  font-size: 1.6rem;
  text-align: center;
  padding-top: 1.5rem;
}

blockquote {
  color: white;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 2rem;
  margin: 1rem 0;
  border-left: #ff860f 0.5rem solid;
  position: relative;
}

blockquote i {
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.references p:nth-child(3) {
  text-align: right;
  margin: 1.5rem 0;
}

.references {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

/* --- ABOUT --- */

.heading-invisible {
  display: none;
}

.about section {
  margin: 0 auto;
  padding: 1rem;
}

.about article img:first-of-type,
.about article img:last-of-type {
  width: 100%;
  margin: 1rem 0;
}

.circle-posit-rel {
  width: 6rem;
  height: 6rem;
  background: #ff860f;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -5.5rem;
  left: -1rem;
}

.h1-about {
  z-index: 99;
  position: relative;
}

/* --- GET IN TOUCH --- */

#get-in-touch {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
  font-size: 1.3rem;
  color: #12b3d8;
}

#get-in-touch div {
  display: flex;
  justify-content: center;
}

.phone {
  margin-bottom: 3rem;
}

/* --- FORM --- */

form {
  width: 100%;
}

h3 {
  font-weight: bold;
  margin-bottom: 0;
}

::placeholder {
  color: lightgrey;
  font-family: "Open Sans", "Times New Roman", Times, Helvetica, serif;
}

input,
select,
textarea {
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
}

select {
  margin-bottom: 1rem;
}

form h3:first-child {
  margin-bottom: 0.3rem;
}

input:last-child {
  font-size: 1.5rem;
  background-color: white;
  color: #12b3d8;
  border: 1px solid #12b3d8;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 0.5rem 3rem;
  text-align: center;
  cursor: pointer;
}

input:last-child:hover {
  color: white;
  background-color: #ff860f;
}

.social ul {
  list-style-type: none;
  padding: 0;
}

.social ul li {
  display: inline-block;
  margin-right: 1rem;
}

.social ul li a,
.social ul li i {
  color: #12b3d8;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.social ul li a:hover {
  color: #ff860f;
}

.social {
  width: 100%;
}

.references {
  clear: both;
}

.social h3 {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

/* --- MAP --- */

.map,
.map h2 {
  display: none;
}

/* --- FOOTER --- */

footer {
  background-color: #12b3d8;
  color: white;
  padding: 2rem 2rem;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}

footer section h3 {
  visibility: hidden;
  font-size: 0rem;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 30em) {
  /* width: 480px */

  h1 {
    line-height: 1.4rem;
    padding: 2rem 0;
  }

  h2 {
    font-size: 2.2rem;
  }

  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1.4rem;
  }

  .get-in-touch-button {
    font-size: 1rem;
  }

  /* --- LAYOUT --- */

  .limit-content {
    padding: 2.5rem 4rem;
  }

  .limit-content-img {
    margin: 0 auto;
    width: 80%;
  }

  header section img {
    width: 18rem;
    display: block;
    margin: 6rem 3.5rem 0 3.5rem;
  }

  .separator-home,
  .separator-edu,
  .separator-contact {
    height: 15rem;
  }

  .separator-contact h2 {
    color: #212121;
  }

  /* --- NAVIGATION --- */

  .open-nav,
  .close-nav {
    display: none;
  }

  nav {
    background-color: #12b3d8;
    position: fixed;
    margin: 0 auto;
    height: 4rem;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 0rem;
  }

  /* --- BUTTONS --- */

  .button {
    display: inline-block;
    padding: 0.5rem 1.7rem;
    border-radius: 0.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1rem;
    text-transform: uppercase;
  }

  .nav-button {
    color: white;
    font-size: 1rem;
  }

  .nav-button:hover,
  .nav-button:focus {
    text-decoration: underline;
  }

  .about article img:first-of-type,
  .about article img:last-of-type {
    float: left;
    width: 65%;
    margin: 1rem;
  }

  .about article img:first-of-type {
    margin-left: 0;
    margin-top: 0;
  }

  .about article img:last-of-type {
    float: right;
    margin-right: 0;
  }

  /* --- FOOTER --- */

  footer p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 48em) {
  /* width: 768px */

  h2 {
    font-size: 2.8rem;
  }

  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1.2rem;
  }

  /* --- MAP --- */

  .map {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* width: 960px */

  h2 {
    font-size: 3.2rem;
  }

  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1rem;
  }

  .limit-content {
    padding: 2.5rem 4rem;
    width: 80%;
  }

  .limit-content-img {
    width: 70%;
  }

  .about article img:first-of-type {
    margin: 0 2rem 2rem 0;
  }

  .about article img:last-of-type {
    margin: 2rem 0 2rem 2rem;
  }

  /* --- CONTACT ---*/

  form {
    width: 50%;
    float: left;
    margin-right: 5%;
  }

  .social {
    float: right;
    width: 45%;
  }
}

@media only screen and (min-width: 72.5em) {
  /* width: 1160px */

  h2 {
    font-size: 3.4rem;
  }

  p,
  li,
  label,
  input,
  select,
  textarea {
    font-size: 1.1rem;
  }

  /* --- LAYOUT --- */

  .limit-content {
    width: 70%;
  }
}
