/*

Color Scheme:
    Blue: #12B3D8
    Orange: #FF860F
    Green: #
    Pink: #
    Light Gray: #F5F5F5
    Medium Gray: darkgray

Fonts:
    Headings:
        font-family: 'Roboto Slab', serif;
    
    Paragraph:
        font-family: 'Open Sans', sans-serif;

*/

/* ====================================
        STARTERS
======================================= */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #212121;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================================
        TYPOGRAPHY
======================================= */

h1,
h2,
h3,
h4 {
  font-family: "Roboto Slab", serif;
}

h1 {
  font-size: 3rem;
  color: white;
  line-height: 3.2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 0.9 rem;
  line-height: 1.4;
}

.sub-item-light {
  color: darkgray;
  font-size: 1rem;
}

.text-highlight {
  color: #12b3d8;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

/* ====================================
        LAYOUT
======================================= */

/* --- GENERAL --- */

.limit-content {
  padding: 2rem 2.3rem;
  width: 100%;
  margin: 0 auto;
}

.limit-content-img {
  width: 100%;
}

/* --- NAVIGATION --- */

.menu-hamburguer-bar {
  background-color: #12b3d8;
  position: fixed;
  height: 4rem;
  width: 100%;
  top: 0;
  left: 0;
}

nav {
  background-color: #b3f90e;
  position: fixed;
  width: 100%;
  height: 22rem;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
  list-style: none;
  height: 100%;
}

.close-nav,
.open-nav {
  border: 0;
  background: 0;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
}

.close-nav {
  font-size: 3rem;
  color: #12b3d8;
  padding: 1rem 2rem;
  transform: translateX(0);
  transition: transform 250ms;
}

.open-nav {
  font-size: 2.5rem;
  color: #b3f90e;
  padding: 0 2rem;
  margin-left: auto;
}

.navigation-open {
  transform: translateX(-100%);
}

/* --- BUTTONS --- */

.button {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-button {
  color: #12b3d8;
  font-size: 1.2rem;
}

.get-in-touch-button {
  background-color: #12b3d8;
  color: white;
  margin: 1rem;
  font-size: 0.8rem;
}

.get-in-touch-button:hover {
  background-color: #ff860f;
  color: white;
}

/* --- HEADER --- */

header section {
  background-color: #12b3d8;
  padding: 1rem 0;
}

header section img {
  border-radius: 50%;
  width: 14rem;
  border: 0.3rem solid #6eb8d4;
  display: block;
  margin: 3.5rem auto 0 auto;
}

/* --- WORK EXPERIENCE --- */

hr {
  border-top: 1px dashed #f5f5f5;
  margin-bottom: 2rem;
}

.work-item ul li,
.eager-to-learn-item ul li {
  margin-left: 2rem;
  list-style-type: circle;
}

/* --- EDUCATION + INTERESTS --- */

#education,
#interests {
  background-color: #f5f5f5;
}

.work-item,
.education-item,
.eager-to-learn-item,
.interests-item {
  margin: 3rem 0;
}

.interests-item p {
  line-height: 1.6;
  font-size: 0.9rem;
  width: 70%;
}

/* --- GET IN TOUCH --- */

#get-in-touch {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}

#get-in-touch div {
  display: flex;
  justify-content: center;
}

.instagram-button {
  display: none;
}

/* --- FOOTER --- */

footer {
  background-color: #12b3d8;
  color: white;
  padding: 2rem 2rem;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
}

footer section h3 {
  visibility: hidden;
  font-size: 0rem;
}

/* ====================================
        MEDIA QUERY
======================================= */

@media (min-width: 800px) {
  /* --- TYPOGRAPHY --- */

  h1 {
    line-height: 1.4rem;
    padding: 2rem 0;
  }

  .get-in-touch-button {
    font-size: 1rem;
  }

  /* --- LAYOUT --- */

  .limit-content {
    padding: 2.5rem 4rem;
    width: 70%;
  }

  .limit-content-img {
    margin: 0 auto;
    width: 70%;
  }

  header section img {
    width: 18rem;
    display: block;
    margin: 6rem 3.5rem 0 3.5rem;
  }

  /* --- NAVIGATION --- */

  .open-nav,
  .close-nav {
    display: none;
  }

  nav {
    background-color: #12b3d8;
    position: fixed;
    margin: 0 auto;
    height: 4rem;
    left: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 0rem;
  }

  /* --- BUTTONS --- */

  .button {
    display: inline-block;
    padding: 0.5rem 1.7rem;
    border-radius: 0.3rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    margin-left: 1rem;
    text-transform: uppercase;
    box-shadow: inset 0 -0.55em 0 -0.35em rgba(0, 0, 0, 0.17);
  }

  .nav-button {
    color: #12b3d8;
    font-size: 1rem;
  }

  .nav-button {
    background-color: #b3f90e;
  }

  /* --- FOOTER --- */

  footer p {
    font-size: 1rem;
  }
}

/* ====================================
        THE END
======================================= */
